<h2>Woooooo.</h2>

<p>You matched over 5 skills (specifically <span id="match_counter"><%= @match_counter %></span>) required to be a <span id="job_name"><%= $job_name %></span>.</p>

<p>The average pay is £<%= @avg_pay %> per week.</p>